<tool name="CompareSimple">  <version>2.3.1</version>  <date>2018-08-30</date>  <main>CompareSimple</main>  <container>#._CompareSimple</container>  <files>    <file>CompareSimple.dyalog</file>  </files>  <needs>    <script>APLTreeUtils</script>    <script>Execute</script>    <script>Logger</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script>WinSys</script>    <script>Tester</script>  </needs>  <scriptOnly>1</scriptOnly>  <wsid>CompareSimple</wsid>  <autoload>1</autoload>  <buildid>1</buildid></tool>