<tool name="CompareSimple">  <version>4.0.0</version>  <date>2020-09-26</date>  <container>#.CompareSimple</container>  <needs>    <script>APLTreeUtils2</script>    <script>Execute</script>    <script>Logger</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script development="true">Tester2</script>    <script development="true">CodeCoverage</script>  </needs>  <autoload>1</autoload>  <buildid>16</buildid>  <scriptOnly>1</scriptOnly>  <package>1</package>  <desc>Allows comparing objects in the workspace with a file or a file with another file</desc>  <tags>apltree;Comparison;Windows</tags></tool>
