<tool name="CompareSimple">  <version>2.4.0</version>  <date>2019-02-21</date>  <container>#.CompareSimple</container>  <needs>    <script>APLTreeUtils</script>    <script>Execute</script>    <script>Logger</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script>WinReg</script>    <script>WinSys</script>    <script development="true">Tester2</script>  </needs>  <autoload>1</autoload>  <buildid>14</buildid>  <scriptOnly>1</scriptOnly></tool>